* {
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.banner {
    display: flex;
    box-shadow: 4px 0 30px rgba(0, 0, 0, 0.5);
    padding: 30px 30px;
    margin-bottom: 100px;
}
.banner h1 {
    color: rgb(90, 158, 221);
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0 30px rgba(0, 0, 0, 0.5);
    margin: 90px auto 0 auto;
    width: 800px;
    height: auto;
}
.container p{
    margin: 20px 20px;
}
.container h2{
    color: brown;
    margin: 20px 20px;
}

.bannerLanguages {
    display: flex;
    flex-direction: row;
    padding-left: 300px;
}
.bannerLanguages img{
    margin-right: 10px;
    margin-left: 10px;
}

.bannerTitle {
    padding-top: 15px;
}


.social {
    right: 0;
    left: 0;
    position: fixed;
    background-color:rgba(90, 158, 221, 0.5);
    margin-top: 130px;
    margin-left: auto;
    width: 90px;
    height: 300px;
    border-radius: 7%;
    box-shadow: 4px 0 30px rgba(0, 0, 0, 0.5);
}
.social img{
    margin-top: 20px;
    margin-left: 10px;
}



